@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800,900&display=swap");
  * {
      font-family: 'Poppins', sans-serif;
      box-sizing: border-box;
    }

    body {
      background-color: #D6EDED;
      max-width: 400px;
      padding: 1rem;
      margin: 0 auto;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

  .new-item-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .new-item-form label {
    display: block;
    margin-bottom: 5px;
  }

  .new-item-form input[type="text"],
.new-item-form input[type="number"],
.new-item-form input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid hsl(200, 100%, 40%);
  background: #D6EDED;
  border-radius: 4px;
  color:  #734488;
}

.new-item-form input[type="file"] {
  padding: 8px 12px;
  background: #03002c;
  color: #5dc0a6;
}

.new-item-form input:focus {
  border-color: hsl(200, 100%, 70%);
}


  .btn {
    background: #DD7F73;
    border: 1px solid hsl(200, 100%, 50%);
    color: #030300;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    outline: none;
  }
  
  .btn:hover,
  .btn:focus-visible {
    background: 	hsl(7, 61%, 66%,0.5);
  }


  .rstbtn {
    /* border: 1px solid hsl(200, 100%, 50%); */
    width: 100%;
    padding: 4px;
    margin-top: 12px;
  }
  
  .rstbtn button:hover,
  .rstbtn button:focus-visible {
    background: 	hsl(7, 100%, 50%);
  }
  .rstbtn button{
    background: #d55a4a;
    /* border: 1px solid hsl(200, 100%, 50%); */
    width: 100%;
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-size: 17px;
    outline: none;
    border-radius: 4px;
    text-decoration: none;
  }

  .new-item-form input {
    outline: none;
    border: 1px solid hsl(200, 100%, 40%);
    background: #316A74;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    color: hsl(200, 100%, 90%);
  }
  
  .new-item-form input:focus {
    border: 1px solid hsl(200, 100%, 70%);
  }

/*.result-container {
  
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }*/

  .result-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 75px;
  margin-right: 10px;
  border-radius: 13px;
}

span.logo-txt
{
  color: #316A74;
}

/*header .logo
{
  color: #030300;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing:2px;
}*/

header ul
{
  display: flex;
 justify-content: center;
 align-items: center;
}

header ul li
{
  list-style: none;
  margin-left: 20px;
}

header ul li a
{
  text-decoration: none;
  padding: 6px 15px;
  color: #030300;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
  background-color: #DD7F73;
  color: #fff;
}

.preViewimg{
  width: 75%;
  height:250px;
  border-radius: 8px;;
  justify-content: center;
  border: 2px solid;
  box-shadow: 2px 5px;
}

.backshadow{
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.backshadow .custom-modal{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.flex-container {
  display: flex;
  padding: 4px;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 25px;
  flex: 50%;
}

.flex-item-right {
  background-color: #fff;
  padding: 10px;
  flex: 50%;
}


.form-container{
  background: transparent;
  display: flex;
  flex-grow: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.form-card{
  background-color: #B0DAFF;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 2.5px 5px #146C94;
}

.footer{
  min-height: 100vh;
}


footer {
  background-image: url('./wave.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom -70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f4a261;
  text-align: center;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
} 



footer h3 {
  font-size: 2rem;
  color: transparent;
  height: 2rem;
}

footer p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.footer-links {
  display: flex;
  gap: 1rem;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: #DD7F73;
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #316A74;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
 }
 
 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #b1dae7;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active {
  transform: scale(0.95);
 }


 /* Card styles */
 /*
.card {
  display: flex;
  background-color: #b1dae7;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
*/

.card {
  position: fixed;
  top: 100px;
  left: 90%;
  transform: translateX(-50%);
  background-color: #b1dae7;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  max-width: 300px;
  text-align: center;
}

.card h3 {
  color: #333;
  margin-bottom: 10px;
}

.card p {
  color: #666;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height:100svh;
}

.container > .footer {
  margin-top: auto;
}

.item {
  width: 56%;
  overflow: visible;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.motion-container {
  width: 300px;
  height: 300px;
  display: flex;
  place-content: center;
  overflow: hidden;
  background: #b1dae7;
  border-radius: 30px;
  box-shadow:2.5px 5px #316a74;
}    


::-webkit-file-upload-button {
  display: none;
}


@media screen and (max-width: 768px) {
  footer {
    padding: 20px;
    background-position: center bottom -30px;
  }

  footer h3 {
    font-size: 1.5rem;
  }

  footer p {
    font-size: 0.9rem;
  }

  .footer-links {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }

  header .logo img {
    width: 50px;
    margin-right: 0;
  }

  header ul {
    margin-top: 10px;
  }

  .form-container {
    position: static;
    transform: none;
    margin-top: 20px;
  }

  .form-card {
    max-width: 100%;
  }

  .card {
    position: static;
    transform: none;
    margin-top: 20px;
    left: auto;
  }
}

